<div class="container">
  <div class="header">
    <div class="header__banner" [ngStyle]="{
      'background-image': 'linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('+headerBGUrl+')'
    }">
      <h2>{{trending?.results[1].title}}</h2>
      <div class="header__buttons">

        <button class="play-button">
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>

      </div>
    </div>

    <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickyHeader>

      <div class="header__left">
        <a routerLink="/">
          <img src="assets/Netflix.svg" alt="logo">
        </a>
        <ul>
          <li><a class="active" routerLink="/">Home</a></li>
          <li><a routerLink="/">Tv Shows</a></li>
          <li><a routerLink="/">Movies</a></li>
          <li><a routerLink="/">Latest</a></li>
          <li><a routerLink="/">My List</a></li>
        </ul>
      </div>

      <div class="header__right">
        <ul>
          <li><a routerLink="/">
              <mat-icon>search</mat-icon>
            </a></li>
          <li><a routerLink="/">KIDS</a></li>
          <li><a routerLink="/">
              <mat-icon>card_giftcard</mat-icon>
            </a></li>
          <li><a routerLink="/">
              <mat-icon>notifications</mat-icon>
            </a></li>
          <li>
            <img src="assets/avatar.jpg" alt="profile">
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="body">
    <app-slider title="TRENDING" [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="TOP RATED" [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="NOW PLAYING" [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="ORIGINALS" [movies]="originals" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="POPULAR" [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="UPCOMING" [movies]="upcoming" [sliderConfig]="sliderConfig"></app-slider>
  </div>


</div>