h2 {
    font-size: x-large;
    color: white;
}
.movie{
    margin: 20px 0;
}
.movie img{
    border-radius: 5px;
}
.movie .movie__images .thumbnails .carousel{
    width:100%;
    display: flex;
}
.movie .movie__images .slick-item {
    transition: transform 600ms;
}
.movie .movie__images .slick-item:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}
